[submodule "Pixelize/vendor/spdlog"]
	path = Pixelize/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Pixelize/vendor/GLFW"]
	path = Pixelize/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
